# Dépendances
node_modules/

# Build
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Éditeur
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environnements locaux
.env
.env.local
.env.*.local

# Firebase emulators
.firebase/
.emulator-data/
.emudata/

# Coverage tests
coverage/

# PWA cache
*.local-web-server/

# Misc
*.lock
